<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

  <!--/*/ <th:block th:include="template.html :: head">
        </th:block> /*/-->

  <title>welcome to dev connector</title>
</head>

<body>

  <th:block th:if="${user.id}">
    <nav th:include="template.html :: nav"></nav>
  </th:block>

  <th:block th:if="${user.id == 0}">
    <nav th:include="template.html :: div.nav-2"></nav>
  </th:block>

  <section class="container">
    <a href="profiles.html" class="btn">Back To Profiles</a>
    <div class="profile-grid my-1">
      <div class="profile-top bg-light p-2">
        <!--        <img class="round-img" src="../img/john.png" alt="">-->
        <!--        <h1 class="large">John Doe</h1>-->
        <img th:src="@{${user.img}}" alt="User Image">
        <h2 th:text="${user.username}"></h2>
        <p th:text="${user.title}"></p>
        <!--        <p class="lead">Developer at Microsoft</p>-->
        <p th:text="${user.address}"></p>
        <!--        <p>Sattle, WA</p>-->
      </div>
    </div>
  </section>

  <!--  <script src="js/jquery.min.js"></script>-->
  <!--  <script src="js/popper.min.js"></script>-->
  <!--  <script src="js/bootstrap.min.js"></script>-->
</body>

</html>