<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign In</title>
</head>
<body>

  <div class="container">

    <div class="card bg-light">
      <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Sign In</h4>
        <p>
          <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-twitter"></i>Sign In via Twitter</a>
          <a href="" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i>Sign In via facebook</a>
        </p>
        <p class="divider-text">
          <span class="bg-light">OR</span>
        </p>
        <p th:text="${msg}"></p>
        <form name="signin" th:action="@{/authenticate-user}" method="POST">
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input id="usernameInput" class="form-control" type="text" placeholder="Username" th:name="username">
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input id="passwordInput" class="form-control" type="password" placeholder="Password" th:name="password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Sign In </button>
          </div>
          <p class="text-center">No account? <a href="/signup">Sign Up</a> </p>
        </form>
      </article>
    </div>

  </div>

</body>
</html>